* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: black;
  color: white;
}

body {
  background: rgb(0, 0, 0);
  font-family: sans-serif;
}

#Calculadora {
  width: 345px;
  height: 420px;
  background-color: white;
  color: #fff;
  padding: 10px;
  margin: 100px auto;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: blue;
  margin-bottom: 35px;
}

p {
  color: black;
  display: flex;
  justify-content: center;
}
